<div class="card mb-3">
  <h2 class="card-header h4">
    Activity Signup #<%= activity_signup.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @activity_signup.user.present? %>
          <%= link_to activity_signup.user, activity_signup.user %>
        <% end %>
      </dd>

      <dt>Activity</dt>
      <dd>
        <% if @activity_signup.activity.present? %>
          <%= link_to activity_signup.activity, activity_signup.activity %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back activity_signup, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_activity_signup_url(activity_signup), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to activity_signup, method: :delete, data: { confirm: "Do you really want to delete this activity_signup?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(activity_signup.updated_at) %> ago
  </div>
</div>
