<div class="card mb-3">
  <h2 class="card-header h4">
    Booking #<%= booking.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= booking.user_id %></dd>
      <!-- Display user_id end -->

      <dt>Flight</dt>
      <!-- Display flight_id start -->
      <dd><%= booking.flight_id %></dd>
      <!-- Display flight_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back booking, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link booking start -->
      <div class="col">
        <%= link_to edit_booking_url(booking), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link booking end -->

      <!-- Delete link booking start -->
      <div class="col">
        <%= link_to booking, method: :delete, data: { confirm: "Do you really want to delete this booking?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link booking end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(booking.updated_at) %> ago
  </div>
</div>
