<%= form_with(model: @booking, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :flight_id %>

    <%= f.collection_select :flight_id, Flight.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create booking", class: "btn btn-block btn-outline-secondary" %>
<% end %>
