<%= form_with(model: @activity_signup, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :activity_id %>

    <%= f.collection_select :activity_id, Activity.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create activity signup", class: "btn btn-block btn-outline-secondary" %>
<% end %>
