<!-- Form booking start -->
<%= form_with(model: @booking, local: true) do |f| %>
<!-- Form booking end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for flight_id start -->
  <div class="form-group">
    <%= f.label :flight_id %>

    <!-- Input for flight_id start -->
    <%= f.collection_select :flight_id, Flight.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for flight_id end -->
  </div>
  <!-- Label and input for flight_id end -->

  <%= f.submit "Create booking", class: "btn btn-block btn-outline-secondary" %>
<% end %>
