<% was_validated = picture.errors.any? %>

<%= form_with(model: picture, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for activity_id start -->
  <div class="form-group">
    <% activity_class = "form-control" %>
    <% activity_was_invalid = picture.errors.include?(:activity) %>

    <% if was_validated %>
      <% if activity_was_invalid %>
        <% activity_class << " is-invalid" %>
      <% else %>
        <% activity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :activity_id %>
    <!-- Input for activity_id start -->
    <%= f.number_field :activity_id, class: activity_class, placeholder: "Enter activity" %>
    <!-- Input for activity_id end -->
    <% if activity_was_invalid %>
      <% picture.errors.full_messages_for(:activity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for activity_id end -->
  <!-- Label and input for picture start -->
  <div class="form-group">
    <% picture_class = "form-control" %>
    <% picture_was_invalid = picture.errors.include?(:picture) %>

    <% if was_validated %>
      <% if picture_was_invalid %>
        <% picture_class << " is-invalid" %>
      <% else %>
        <% picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :picture %>
    <!-- Input for picture start -->
    <%= f.text_field :picture, class: picture_class, placeholder: "Enter picture" %>
    <!-- Input for picture end -->
    <% if picture_was_invalid %>
      <% picture.errors.full_messages_for(:picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for picture end -->
  <!-- Label and input for name start -->
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = picture.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <!-- Input for name end -->
    <% if name_was_invalid %>
      <% picture.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for name end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
