<!-- Form activity start -->
<%= form_with(model: @activity, local: true) do |f| %>
<!-- Form activity end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for date start -->
  <div class="form-group">
    <%= f.label :date %>
    <!-- Input for date start -->
    <%= f.datetime_select :date, class: "form-control" %>
    <!-- Input for date end -->
  </div>
  <!-- Label and input for date end -->

  <!-- Label and input for city_id start -->
  <!-- Input for city_id start -->
  <%= f.hidden_field :city_id, value: @city.id %>
  <!-- Input for city_id end -->
  <!-- Label and input for city_id end -->

  <%= f.submit "Create activity", class: "btn btn-block btn-outline-secondary" %>
<% end %>
