<!-- Form activity_signup start -->
<%= form_with(model: @activity_signup, local: true) do |f| %>
<!-- Form activity_signup end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for activity_id start -->
  <!-- Input for activity_id start -->
  <%= f.hidden_field :activity_id, value: @activity.id %>
  <!-- Input for activity_id end -->
  <!-- Label and input for activity_id end -->

  <%= f.submit "Create activity signup", class: "btn btn-block btn-outline-secondary" %>
<% end %>
